<div class="login">
  <div class="container">
    <div class="form">
            <br><br>
      <h1>Załóż konto</h1>

      <%= form_for(@user) do |f| %>
          <%= f.text_field :first_name, :placeholder => "Imię" %><br>
          <%= f.text_field :last_name, :placeholder => "Nazwisko" %> <br>
          <%= f.email_field :email, :placeholder => "Email" %><br>
          <%= f.password_field :password, :placeholder => "Hasło" %><br>
          <%= f.submit "Utwórz konto", class: "btn-submit" %>
      <% end %>


    </div>
  </div>
</div>
