<div class="main">
  <div class="row">

    <h1 class="page-header">
      Wszystkie opowiadania
    </h1>

    <% tag_list.each do |tag| %>
        <div class="col-md-6">
          <div class="post">
            <h1><%= tag.title %></h1>
            <p><span class="glyphicon glyphicon-time"></span> Utworzony:  <%= tag.created_at.to_date %></p>
              <div class="likes">
    <h4 style="display: inline-block">
        <% if ip_voted_for_tag? tag %>
          <span class="glyphicon glyphicon-heart" title="Polubiono" style="color:red; padding: 0px 10px;" ></span>
        <% else %>  
            <span class="glyphicon glyphicon-heart-empty" title="Przeczytaj i polub" style="color:red; padding: 0px 10px;" ></span>
        <% end %>
        
     </h4>   
        <span style="color=#444; display: inline-block;"> Liczba polubień:  <%= count_liketags tag %></span>
    </div>  
            <hr>

            <p><a class="btn btn-success btn-lg" href="<%= tag_path(tag) %>">Zobacz
              <span class="glyphicon glyphicon-chevron-right"></span></a></p>
          </div>
        </div>

    <% end %>
      </div>
    <div class= "pag">
      <%= will_paginate tag_list, :previous_label => '< Poprzednia strona', :next_label => 'Następna strona >',renderer: BootstrapPagination::Rails %>
      
      </div> 
      

</div>
