<div class="main">

  <div class="content">

    <% if current_user && current_user.editor? %>
        <div class="btn-group">
          <a class="btn btn-danger" <%= link_to "Usuń opowiadanie", @tag, method: :delete, data: {confirm: 'Czy na pewno usunąć opowiadanie?'} %></a>
            <a class="btn btn-info" <%= link_to "Edytuj opowiadanie", [:edit, @tag] %></a>
          <a class="btn btn-success" <%= link_to "Nowy rozdział", new_post_path %></a>
            <a class="btn btn-success" <%= link_to "Przypisz istniejący rozdział", new_part_path %></a>
            
        </div>
    <% end %>

    <h1 class="title"><%= @tag.title %></h1>
    <p class="times"><span class="glyphicon glyphicon-time"></span>  <%= @tag.created_at.to_date %></p>

    <% @posts.each do |post| %>

        <div class="post">
          <h2><%= post.title %>
            <% if current_user && current_user.editor? %>
        <div class="btn-group">
            <a class="btn btn-danger" <%= link_to "Usuń rozdział", post, method: :delete, data: {confirm: 'Czy na pewno usunąć rozdział?'} %></a>
            <a class="btn btn-info" <%= link_to "Edytuj rozdział", [:edit, post] %></a>
        </div>
    <% end %>
            </h2>
            
            <div>
    
                <%= strippedtags(post.content) %></div>
        </div>

    <% end %>


  </div>

  <br>
  <div class="wstecz">
    <a class="btn btn-success btn-lg" href="../tags"><span class="glyphicon glyphicon-chevron-left"></span> Wróć do
      wszystkich opowiadań</a></div>

</div>



