<div class="main">

  <div class="content">

    <% if current_user && current_user.editor? %>
        <div class="btn-group">
          <a class="btn btn-danger" <%= link_to "Usuń opowiadanie", one_tag, method: :delete, data: {confirm: 'Czy na pewno usunąć opowiadanie?'} %></a>
          <a class="btn btn-info" <%= link_to "Edytuj opowiadanie", [:edit, one_tag] %></a>
          <a class="btn btn-success" <%= link_to "Nowy rozdział", new_post_path %></a>
        </div>
    <% end %>

      <h1 class="title"><%= one_tag.title %></h1>
      <p class="times"><span class="glyphicon glyphicon-time"></span>  <%= one_tag.created_at.to_date %></p>


<table class="table table-striped table-hover" style="border: 3px solid #dfd7ca;background-color: white;">
  <thead>
    <tr>
        <th  style="background-color:#cec6b9">Przejdź do rozdziału:</th>
    </tr>
  </thead>
  <tbody>
      <% posts.each do |post| %>
    <tr>
        <td><a href="#<%= post.id %>"><%= post.title%></a></td>
    </tr>
      <% end %>
  </tbody>
</table>

       <%= will_paginate posts, :previous_label => '< Poprzednie rozdziały', :next_label => 'Następne rozdziały >', renderer: BootstrapPagination::Rails %>

      <br>


    <% posts.each do |post| %>

      <div class="post">
          <a style="text-decoration: none; color:#333;" name="<%= post.id %>"></a><br><br>
          <h2><%= post.title %></h2>
            <% if current_user && current_user.editor? %>
        <div class="btn-group">
            <a class="btn btn-danger" <%= link_to "Usuń rozdział", post, method: :delete, data: {confirm: 'Czy na pewno usunąć rozdział?'} %></a>
            <a class="btn btn-info" <%= link_to "Edytuj rozdział", [:edit, post] %></a>
        </div>
    <% end %>

      <div>
      <%= strippedtags(post.content) %></div>
    </div>

      <div class="likes"  style="display: inline-block;">
    <h4 style="display: inline-block">
        <% if ip_voted_for_post? post %>
          <span class="glyphicon glyphicon-heart" title="Polubiono" style="color:red; padding: 0px 10px;" ></span>
        <% else %>
          <%= link_to likeposts_path(likepost: {post_id: post.id}), method: :post do %>
            <span class="glyphicon glyphicon-heart-empty" title="Polub" style="color:red; padding: 0px 10px;" ></span>
          <% end %>
        <% end %>

     </h4>
          <span style="color=#444; display: inline-block; padding-right: 10px;"><%= count_likeposts post %></span>
    </div>
   <% end %>

      <div>
      <%= will_paginate posts, :previous_label => '< Poprzednia strona', :next_label => 'Następna strona >',renderer: BootstrapPagination::Rails %>

      </div>

       <div class="likes">
    <h4 style="display: inline-block">
        <% if ip_voted_for_tag? one_tag %>
          Polubiono opowiadanie!
          <span class="glyphicon glyphicon-heart" title="Polubiono" style="color:red; padding: 0px 10px;" ></span>
        <% else %>
        Czy spodobało Ci się to opowiadanie? Polub je:
        <%= link_to liketags_path(liketag: {tag_id: one_tag.id}), method: :post do %>

            <span class="glyphicon glyphicon-heart-empty" title="Polub" style="color:red; padding: 0px 10px;" ></span>
          <% end %>
        <% end %>

     </h4>
           <span style="color=#444; display: inline-block;"> Liczba polubień:  <%= count_liketags one_tag %></span>
    </div>

  </div>

  <br>


  <div class="wstecz">
    <a class="btn btn-success btn-lg" href="../tags"><span class="glyphicon glyphicon-chevron-left"></span> Wróć do
      wszystkich opowiadań</a></div>

</div>
