before_action :require_user, only: [:index, :show]
<div class="edit">
  <div class="main">

    <%= simple_form_for(@post) do |f| %>

        <%= f.input :title, label: "Tytuł:" %> <br>
        <%= f.input :content, as: :wysihtml5, label: "Treść:" %><br>
        <%= f.input :description, label: "Krótki opis:" %><br>
        <%= f.input :image, label: "Link do obrazu" %><br>
        <%= f.button :submit, 'Dodaj rozdział' %>
    <% end %>
  
    </div>

</div>
