<div class="main">

    <% posts_select.each_slice(3) do |rows| %>
      <div class="row">
        <% rows.each do |part| %>

          <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="post" style="border:1px black solid;">
              <h3>Rozdział: <%= part.title %> </h3>
              <% if part.tag.present? %>
                <h4> <%= part.tag.title %> </h4>
              <% else %>
                <p style="color:red"> Nieprzypisany</p>
              <% end %>
              <%= part.description %>
              <p><span class="glyphicon glyphicon-time"></span> <%= part.created_at.to_date %></p>
              <%= link_to [:edit, part], class: "btn btn-info"  do %>
                EDYTUJ <% if part.tag.nil? %> lub przypisz <% end %>
              <% end %>
              <%= link_to "Pokaż rozdział", post_path(part), class: "btn btn-info" %>
              <br>

            </div>
          </div>

        <% end %>
      </div>
    <% end %>

</div>
