<div class="main">
  <div class="row">

     <% posts_select.each do |part| %>

        <div class="col-md-4 col-lg-4 col-sm-6">
          <div class="post">
            <h3>Rozdział: <%= part.title %> </h3>
            <h4> <%= part.tag.title %> </h4>
            <p><span class="glyphicon glyphicon-time"></span> <%= part.created_at.to_date %></p>
            <a class="btn btn-info" <%= link_to "Edytuj", [:edit, part] %></a>
            <br>
            <%= part.description %>

          </div>
        </div>

    <% end %>
  </div>
</div>
